body{
    background-image: url("./assets/background.jpg");
    background-size: cover;
}

.iframe-row{
    margin-top: 20px;
}

.first-row .second-row {
    margin-top: 15px;
    margin-left: 5px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: black;
    
}

.main{
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
}